<html>
<title>Online Library Management</title>
<link rel="stylesheet" href="style.css">
<!-- <script src="index.js"></script> -->

<body>
    <div>
        <!-- header -->
    </div>
    <div>
        <!-- body  -->

        <!-- login -->
        <br><br>
        <div class="loginStyle" id="loginMain">
            <!-- singn up -->
            <br><br>
            <h2 class="text-center">Online Library Management</h2>
            <div class="row">
                <button class="signUpBtn" onclick="signUp()">Registration</button>
                <button class="signInBtn" onclick="login()">Login</button>
            </div>
            <div class="common" id="signUpId">
                <div class="row">
                    <div class="labelSty"><label>User Name</label></div>
                    <input class="input-control" type="text" id="userName" onfocusout="">
                    <label class="lableValidate" id="userDis">In Valid</label>
                    <br><br>
                </div>
                <div class="row">
                    <div class="labelSty"><label>Email ID</label></div>
                    <input class="input-control" type="text" id="emaiID" onfocusout="">
                    <label class="lableValidate" id="emailDis">In Valid</label>
                    <br><br>
                </div>
                <div class="row">
                    <div class="labelSty"><label>Password</label></div>
                    <input class="input-control" type="text" id="password" onfocusout="">
                    <label class="lableValidate" id="passDis">In Valid</label>
                    <br><br>
                </div>
                <div class="row">
                    <div class="labelSty"><label>Phone Number</label></div>
                    <input class="input-control" type="text" id="phoneNum" onfocusout="">
                    <label class="lableValidate" id="phoneDis">In Valid</label>
                    <br><br>
                </div>
                <div class="row">
                    <div class="labelSty"><label>Gender</label></div>
                    <input class="input-control" type="text" id="gender" onfocusout="">
                    <label class="lableValidate" id="genderDis">In Valid</label>
                    <br><br>
                </div>
                <div class="row">
                    <div class="labelSty"><label>Department</label></div>
                    <input class="input-control" type="text" id="department" onfocusout="">
                    <label class="lableValidate" id="departmentDis">In Valid</label>
                    <br><br>
                </div>

                <div class="row">
                    <div class="labelSty"><label></label></div>
                    <button class="btn input-control" onclick="signUpValidate()">Submit</button>
                    <label class="lableValidate" id="">.</label>
                    <br><br>
                </div>
            </div>
            <div class="common" id="loginId">
                <!-- <div class="row">
                    <div class="labelSty"><label>Card Number</label></div>
                    <input class="input-control" type="text" id="lemail" onfocusout="">
                    <label class="lableValidate" id="lemailDis">In Valid</label>
                    <br><br>
                </div> -->
                <div class="row">
                    <div class="labelSty"><label>Email ID</label></div>
                    <input class="input-control" type="text" id="lemail" onfocusout="">
                    <label class="lableValidate" id="lemailDis">In Valid</label>
                    <br><br>
                </div>
                <div class="row">
                    <div class="labelSty"><label>Password</label></div>
                    <input class="input-control" type="text" id="lpass" onfocusout="">
                    <label class="lableValidate" id="lpassDis">In Valid</label>
                    <br><br>
                </div>
                <div class="row">
                    <div class="labelSty"><label></label></div>
                    <button class="btn input-control" onclick="loginValidate()">Submit</button>
                    <label class="lableValidate" id="">.</label>
                    <br><br>
                </div>
            </div>
        </div>

        <!-- <br><br> -->

        <div class="main" id="main">
            <div class="header" style="display: ruby-text;">
                <div class="row">
                    <button class="btn" onclick="HomePage()">Home</button>
                    <!-- <form id=""> -->
                    <button type="submit" class="btn" onclick="BorrowBook()">Borrow Book</button>
                    <button type="submit" class="btn" onclick="ReturnBook()">Return Book</button>
                    <!-- </form> -->
                    <button class="btn" onclick="viewHistory()">View Borrow History</button>
                    <button class="btn" onclick="topup()">Top Up</button>
                    <button class="btn" onclick="showBlance()">Show Balance</button>
                </div>
                <button class="btn" onclick="logout()">Logout</button>
            </div>

            <div class="home" id="home">
                Welcome
            </div>

            <div class="purchase" id="bookTravel">
                <h3>Books</h3>
                <div>
                    <!-- <form id="BorrowQtyForm"> -->
                    <div id="BorrowQtyForm">
                        <label>Enter Quantity</label><br><br>
                        <input type="number" id="purchaseAddQty"><br><br>
                        <button type="submit" onclick="return BorrowBookFun()">Submit</button>
                    </div>
                    <br>
                    <!-- </form> -->
                    <table border="1" id="bookTable" class="dataTableSty">
                        <thead>
                            <tr>
                                <th>Book Name</th>
                                <th>Author Name</th>
                                <th>Available Count</th>
                                <th style="width: 30%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="returnBook1" id="returnBook1">
                <table border="1" id="returnBook" class="dataTableSty">
                    <thead>
                        <tr>
                            <th>Book Name</th>
                            <!-- <th>Author Name</th> -->
                            <th>Book Count</th>
                            <th>Borrowed Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="orderHistory" id="viewHistory">
                <table border="1" id="viewHistory1" class="dataTableSty">
                    <thead>
                        <tr>
                            <th>Book ID</th>
                            <!-- <th>Author Name</th> -->
                            <th>Book Count</th>
                            <th>Borrowed Date</th>
                            <th>Status</th>
                            <th>Fine Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="topup" id="topup">
                <label>Enter a Amount</label><br>
                <input type="number" id="addRecharge" class="input-control"><br><br>
                <button class="btn" type="submit" onclick="WalletRecharge()">Submite</button>
            </div>
            <div class="balance" id="balance">
            </div>
        </div>
    </div>
    <script src="index.js"></script>

</body>

</html>